# Auth DB
AUTH_POSTGRES_HOST=localhost
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_DB=duo_auth
AUTH_POSTGRES_USER=duo_auth
AUTH_POSTGRES_PASSWORD=

DUO_AUTH_DB_POOL_SIZE=5
DUO_AUTH_DB_MAX_OVERFLOW=2

# Game DB
GAME_POSTGRES_HOST=localhost
GAME_POSTGRES_PORT=5432
GAME_POSTGRES_DB=duo_game
GAME_POSTGRES_USER=duo_game
GAME_POSTGRES_PASSWORD=

DUO_GAME_DB_POOL_SIZE=5
DUO_GAME_DB_MAX_OVERFLOW=2

# API
DUO_API_DEBUG=false
DUO_ALLOWED_ORIGINS=["https://yourdomain.com"]
